.container h2 {
    font-family: 'Verdana', sans-serif; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 45px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.login-btn {
    background-color: #007bff;
    color: #fff;
}

.login-btn:hover {
    background-color: #0056b3;
}

.register-btn {
    background-color: #28a745;
    color: #fff;
}

.register-btn:hover {
    background-color: #218838;
}

.button-group {
    text-align: center; /* Center align the contents of the button group */
}

#submit-btn {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Add padding to the button */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add rounded corners to the button */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
}

#submit-btn:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.question-selected {
    font-weight: bold;
}
